[Unit]
Description=E-Ink display Service
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 /home/pi/inkCal/inkCal.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=syslog.service
